.cart {
  $cart: &;
  border: 1px solid #F3F3F3;
  border-radius: 40px;
  position: relative;
  overflow: hidden;
  padding: 30px;
  max-height: 253px;

  &--basket {
    width: 100%;
    padding: 20px;
    display: flex;
    border-radius: 20px;
    align-items: center;
    min-height: 120px;

    #{$cart}__img {
      width: 70px;
      height: 70px;
    }

    #{$cart}__content {
      margin-left: 20px;
    }

    .price__title {
      display: none;
    }

    #{$cart}__footer {
      margin-top: 0;
    }

    #{$cart}__btn {
      position: absolute;
      content: '';
      right: 20px;
      top: 40px;
    }
  }

  &__favorite {
    content: '';
    position: absolute;
    height: 32px;
    width: 32px;
    border: 1px solid #F8F8F8;
    border-radius: 7px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;

    .favorite {
      position: absolute;
      height: 13px;
      width: 15px;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
    }

    &.active {
      border-color: transparent;
      background-color: #FEF0F0;

      .favorite {
        fill: black;

        path {
          fill: #FF8585;
        }
      }
    }


  }

  &__img {
    display: block;
    max-width: 133px;
    width: 100%;
    height: auto;
  }

  &__title {
    display: block;
    max-width: 150px;
    width: 100%;
    font-size: 13px;
    font-weight: 400;
    color: #000000;
  }

  &__footer {
    margin-top: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }


  &__price {
    display: flex;
    flex-direction: column;

    .price__title {
      text-transform: uppercase;
      font-size: 11px;
      font-weight: 500;
      color: #BDBDBD;
      margin-bottom: 2px;
    }

    .price__subtitle {
      font-weight: 700;
      font-size: 14px;
      color: #000000;
    }
  }
}